
<div class="footer">

    <div class="btn-group btn-group-justified">

          <a href="{:U('Fruit/lists')}" class="btn btn-block bottomMenu" id="btn-menu-list">
              <span class="glyphicon glyphicon-list "></span>
          </a>
          <a class="btn btn-block bottomMenu" id="btn-menu-home">
              <span class="glyphicon glyphicon-home "></span>
          </a>
          <a class="btn btn-block bottomMenu" id="btn-menu-user">
               <span class="glyphicon glyphicon-user "></span>
          </a>


        <a href="{:U('Fruit/cart')}" class="btn btn-block  bottomMenu  " id="btn-menu-cart">
            <span class="glyphicon glyphicon-shopping-cart "></span>
            <span class="badge " id="cartCount">0</span>

        </a>

          <a class="btn btn-block bottomMenu " id="btn-menu-search">
              <span class="glyphicon glyphicon-search "></span>
          </a>

    </div>


</div>

<script>
    var storageName="{$storageName}";


</script>
