<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    {/*
    <link type="text/css" rel="stylesheet" href="../dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="../dist/css/bootstrap-theme.css"/>
    <link type="text/css" rel="stylesheet" href="../dist/css/main.css"/>
    */}
    <import type='css' file="Dist.css.bootstrap" />
    <import type='css' file="Dist.css.bootstrap-theme" />
    <import type='css' file="Dist.css.main" />
</head>
<body>
<div class="panel panel-default" id="page-lists">
    <div class="panel-heading">
        <div class="row">
            <span class="col-xs-2">
                 <button type="button" class="btn btn-link btn-block ">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </button>
            </span>

            <span class="col-xs-10">商品列表</span>

        </div>
        <!--<h3 class="panel-title">Panel title</h3>

        <p>
            <button type="button" class="btn btn-link btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <span>Panel title</span>
        </p>
        -->


    </div>
    <div class="panel-body">
        <div class="container-fluid">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="listsTab" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab"> 所有</a></li>

                <foreach name="cat" item="vo" >
                    <li><a href="#cate{$vo.id}" role="tab" data-toggle="tab">{$vo.name}</a></li>
                </foreach>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="panel panel-default" >
                        <div class="panel-body">
                            <ul class="media-list">
                                <volist name="list" id="vo">
                                        <li class="media goodList" id="dou{$vo.id}" data-fruit-cate="cate{$vo.cid}" data-fruit-check="{$vo.check_code}" >
                                            <a class="pull-left" href="{:U('Fruit/detail?id='.$vo[id])}">
                                                <img class="media-object" src="__PUBLIC__/{$vo.img}" style="width: 80px; height: 80px; ">
                                            </a>
                                            <div class="media-body">
                                                <div  class="row">
                                                    <div class="col-xs-12">
                                                        <a class="pull-left" href="{:U('Fruit/detail?id='.$vo[id])}">
                                                            <span class="goodName">{$vo.name}</span>
                                                        </a>
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <p class="pull-left">
                                                        <span class="label label-primary">
                                                            <span class="goodPrice">{$vo.price}</span>/
                                                            <span class="goodUnit">{$vo.unit}</span>
                                                        </span>
                                                            <span class="label label-info">月售{$vo.buy_count}单</span>
                                                            <span class="label label-info">库存{$vo.stock}</span>

                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <p class="pull-right">
                                                            <button type="button" class="btn btn-link btn-sm goodMinus disabled">
                                                                <span class="glyphicon glyphicon-minus-sign"></span>
                                                            </button>
                                                            <input class="goodCount" value="1"/>
                                                            <button type="button" class="btn btn-link btn-sm goodPlus">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>

                                                            <a class="btn btn-info btn-sm" id="btn-add-to-cart">加入购物车</a>
                                                            <a class="btn btn-success btn-sm" id="btn-buy-now">立即购买</a>


                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                </volist>

                            </ul>
                        </div>

                    </div>

                </div>

                <foreach name="cat" item="cateVo" >
                    <div class="tab-pane" id="cate{$cateVo.id}">
                        <ul class="media-list">
                            <volist name="list" id="vo">
                                <if condition="$vo.cid eq $cateVo.id ">
                                    <li class="media goodList" id="dou{$vo.id}" data-fruit-cate="cate{$vo.cid}"  data-fruit-check="{$vo.check_code}" >
                                        <a class="pull-left" href="#">
                                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px; " src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                                        </a>
                                        <div class="media-body">
                                            <div  class="row">
                                                <div class="col-xs-6">
                                                    <p class="pull-left"><h4 class="goodName">{$vo.name}</h4></p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p class="pull-right">
                                                        <button type="button" class="btn btn-link btn-sm goodMinus disabled">
                                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                                        </button>
                                                        <input class="goodCount" value="1"/>
                                                        <button type="button" class="btn btn-link btn-sm goodPlus">
                                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                                        </button>

                                                    </p>
                                                </div>

                                                <div class="col-xs-12">
                                                    <p class="pull-left">
                                                        <span class="label label-primary">
                                                            <span class="goodPrice">{$vo.price}</span>/
                                                            <span class="goodUnit">{$vo.unit}</span>
                                                        </span>
                                                        <span class="label label-info">月售{$vo.buy_count}单</span>
                                                        <span class="label label-info">库存{$vo.stock}</span>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                 </if>
                            </volist>

                        </ul>
                    </div>
                </foreach>

            </div>



        </div>


    </div>

</div>
{/*
<script type="javascript" src="../dist/js/jquery.js"/>
<script type="javascript" src="../dist/js/jquery-cookie.js"/>
<script type="javascript" src="../dist/js/bootstrap.js"/>
<script type="javascript" src="../dist/js/main.js"/>
*/}
<include file="Public/copyright" />
<include file="Public/footer" />
<import  file="Dist.js.jquery" />
<import  file="Dist.js.bootstrap" />
<import  file="Dist.js.jquery-cookie" />
<import  file="Dist.js.main" />

<script>
    $(function(){
        $('#listsTab a:first').tab('show');
        $(".footer #btn-menu-list").addClass("menu-active");
		
		$("#page-lists #btn-buy-now").click(function (e) {
			var goodsId = $(this).parents(".goodList").attr("id");
			var countSpan = $(this).parents(".goodList").find(".goodCount");
			var counts = parseInt(countSpan.val());
			var d={};
			goodsId=goodsId.replace("dou","");
			d[goodsId]={"ct":counts};
            window.location.href="{:U('Fruit/orderPre')}?odata="+JSON.stringify(d);
		});
        $("#page-lists #btn-add-to-cart").click(function (e) {

            var goodsId = $(this).parents(".goodList").attr("id");
            var countSpan = $(this).parents(".goodList").find(".goodCount");
            var counts = parseInt(countSpan.val());
            var d={};


            $.ajax({
                url:"{:U('Fruit/cart')}",
                type:"post",
                data:""

            }).done(function(data){
                  console.log(data);
            });




            var goodName = $("#" + goodsId).find(".goodName").html();
            var goodPrice = $("#" + goodsId).find(".goodPrice").html();
            var goodUnit = $("#" + goodsId).find(".goodUnit").html();
            var goodImg=$("#" + goodsId).find("img").attr("src");
            var goodCheckCode=$("#" + goodsId).attr("data-fruit-check");
            var goodCate=$("#" + goodsId).attr("data-fruit-cate");

            var goodUrl=$("#" + goodsId+" > a").attr("href");
            var c={};
            if (!localStorage.getItem(storageName)) {
                c[goodsId]={
                    gName: goodName,
                    gPrice: goodPrice,
                    gCount: counts,
                    gUnit:goodUnit,
                    gCheckCode:goodCheckCode,
                    gImg:goodImg,
                    gCate:goodCate,
                    gIsChecked:true,
                    gUrl:goodUrl
                };

            }else{
                c=JSON.parse(localStorage.getItem(storageName));
                if(!c[goodsId]){
                    c[goodsId]={
                        gName: goodName,
                        gPrice: goodPrice,
                        gCount: counts,
                        gUnit:goodUnit,
                        gCheckCode:goodCheckCode,
                        gImg:goodImg,
                        gCate:goodCate,
                        gIsChecked:true,
                        gUrl:goodUrl
                    };
                }else{
                    c[goodsId].gCount=counts+c[goodsId].gCount;
                }

            }
            localStorage.setItem(storageName,JSON.stringify(c));
            $(".footer #btn-menu-cart").popover({
                container:"body",
                content:"已加入购物车",
                trigger:"click manual",
                placement:"top"
            });

            var dtd = $.Deferred();
            var wait = function(dtd){
                var tasks = function(){
                    dtd.resolve();
                };
                setTimeout(tasks,500);
                return dtd;
            };


            $(".footer #btn-menu-cart").popover("show");

            $.when(wait(dtd))
                    .done(function(){
                        $(".footer #btn-menu-cart").popover("destroy");
                    });




            console.log("trigger");
            fruitFreshCookie();


        });

        fruitFreshCookie();
        //$('#shopcart-popup').removeClass("hidden").slideToggle("fast");
    });
</script>

</body>


</html>