<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<include file="Public/css" />
    <import type='css' file="Dist.css.all" />
    <style type="text/css">
        body>.container-fluid .page-header {
            padding-top:10px;
            border-bottom: solid 1px #078D44;;


        }
        body>.container-fluid>div{
            background: #fffcc7;
            padding: 0px 15px;
            border-radius: 4px;
        }
        body>.container-fluid img{
            max-width: 100%;
        }

    </style>


</head>
<body>

<include file="Public/header"/>
<div class="container-fluid">
    <div>
        <div class="page-header">
            <h1><p>正在开发中....</p><small>客官请稍等...<a href="{:U('Home/Index/index')}"> 返回首页</a></small></h1>
        </div>



    </div>




</div>






<include file="Public/copyright" />
<include file="Public/js" />
<import  file="Dist.js.jquery-cookie" />
<import  file="Dist.js.main" />




<script>

</script>

</body>


</html>