<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <import type='css' file="Dist.css.bootstrap" />
    <import type='css' file="Dist.css.bootstrap-theme" />
    <import type='css' file="Dist.css.main" />
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <!--<h3 class="panel-title">Panel title</h3> -->
        <p>
            <button type="button" class="btn btn-link btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <span>成功下单</span>
        </p>

    </div>
    <div class="panel-body">
        <div class="container-fluid">

            <div class="alert alert-info" role="alert">
                已成功下单
                <a href='{:U("Index/index")}' type="button">返回</a>
            </div>
















        </div>
    </div>

</div>



<import  file="Dist.js.jquery" />
<import  file="Dist.js.bootstrap" />
<import  file="Dist.js.jquery-cookie" />
<import  file="Dist.js.main" />
<script>

</script>

</body>


</html>